<div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1400px;">
  <h3>Employment History</h3>
  {{techview}}<br />{{dbState}}
  <div class="w3-container">
    <button class="accordion" (click)="toggle('iss')"><b>ISS  &nbsp; Southampton, PA</b></button>
    <div class="panel" id="iss">
      <b>February 2018 &ndash; July 2018</b>
	<!-- <b>Software Consultant / Developer</b> -->
      <p>Developed various Django components for clinical trial supply chain software product including a reusable interface to export data to 3rd party data bus providers as well as additional login module security features required to bring the system up to 21CFR compliance standards. </p>
      <p>Assisted newer inexperienced developer in getting up to speed with javascript and other software development tools.</p>
    </div>
  </div>
  <div class="w3-container">
    <button class="accordion" (click)="toggle('rdc')"><b>Regulatory Data Control, Inc. &nbsp; King of Prussia, PA</b></button>
    <div class="panel" id="rdc">
      <b>March 2012 &ndash; May 2017</b>
      <!-- <b>Software Developer</b>  -->
      <p>Developed components for existing AML software products and services, Salesforce.com data-integration and company-wide customized reports.</p>
      <p>Java/J2EE, PL/SQL, SQLServer, MySQL, Groovy, Javascript, NodeJS, Pentaho, MongoDB</p> 
    </div>
  </div>
  <div class="w3-container">
    <button class="accordion" (click)="toggle('Upenn')"><b>Penn Libraries, University of Pennsylvania, Philadelphia, PA</b></button>
    <div class="panel" id="Upenn">        
      <b>January 2011 &ndash; March 2012</b>
        <!-- <b>Software Developer</b> -->
      <p>Designed and implemented Metridoc http://code.google.com/p/metridoc integration procedures to consolidate data from multiple sources into a RDMS for statistical analysis. </p>
      <p>Coding entailed writing Java and Groovy POJOs and POGOs, integrating Apache Camel and POI libraries to read, parse and ingest data from, and pipe data to Oracle, SQL Server, XML, spreadsheets and various delimited file types. </p>
      <p *ngIf="dbState">Designed, built and maintained MySql databases to persist library-specific data; creating normalization procedures in SQL to optimize storage and enhance accessibility. </p>
      <p>Created ER and UML diagrams to expose system architecture to other academic institutions. </p>
      <p>Maintained LiquiBase files for database change management and used Jenkins to schedule, manage and log integration processes.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Senior Java Developer / Data Architect</b></summary> -->
    <button class="accordion" (click)="toggle('lg')"><b>Lightning Gaming, Inc.</b></button>
    <div class="panel" id="lg">
      Boothwyn, PA
      <p> July 2006 &ndash; January 2010</p>
      <p>Designed and developed components for an electronic gaming table using Java and PL/SQL running on a Linux platform. </p>
      <p>Assumed data architect role after redesigning the data layer which involved merging and normalizing two existing Postgres v8x databases and retooling data accessors from JDBC to an XML-based approach resulting in less code, easier maintenance and greater flexibility. </p>
      <p>Created a scheduling module comprised of stored procedures on the back-end with a PHP user interface. </p>
      <p>Additional duties involved redesigning Swing-based user interfaces, writing Bash shell scripts, integrating hardware data capture, enhancing encryption using Jasypt, creating reports in PHP, writing and executing unit tests and system test plans as well as user and tech manual documentation. </p>
      <p>Served as primary contact for gaming certification bodies GLI and NJ-DGE.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Senior Java Developer / Technical Lead</b></summary> -->
    <button class="accordion" (click)="toggle('cigna')"><b>CIGNA Corporation (Intracorp Division)</b></button>
    <div class="panel" id="cigna">
      Philadelphia, PA
      <p> October 2005 &ndash; July 2006</p>
      <p>Initially contracted as a Java developer to help migrate code base from Java v1.3 to 1.5 and construct a unit test framework for DM-ICMS, a multi-tiered application comprised of a Swing-based client interfacing to a thin server backed by an Oracle database. </p>
      <p>Assumed team/tech lead responsibilities, managing the day-to-day interaction between the Business Unit, Quality Assurance, software development and production support teams. </p>
      <p>Technical responsibilities included, but not limited to, problem analysis, troubleshooting, bug fixes, code reviews, JRun server installation, configuration, deployment and technical support. </p>
      <p>Accomplishments included the data migration of all case management systems from Oracle 8i to 10g and the conversion of the build process from DOS batch files to Ant scripts. </p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Java Developer</b></summary> -->
    <button class="accordion" (click)="toggle('chariot')"><b>Chariot Solutions Inc.</b></button>
    <div class="panel" id="chariot">
      Fort Washington, PA
      <p> March 2004 &ndash; September 2005</p>
      <p>Primarily developed and maintained EJB's, Swing components, POJOs, JSPs, Sybase triggers and stored procedures for a multi-tiered inventory tracking and distribution system. </p>
      <p>Integrated error notification using JMS. Wrote technical specifications and requirement analysis documents. Developed Jasper reports, Jython unit test scripts and automated code generation using Middlegen and Xdoclet. </p>
      <p>Briefly maintained Struts-based web application for non-profit organization which involved creating and modifying action form bean classes, Hibernate queries and mappings to Postgres back-end  as well as MySQL setup and configuration for secure login.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Systems Administrator</b></summary> -->
    <button class="accordion" (click)="toggle('tp')"><b>Towers Perrin Inc. (currently EDI)</b></button>
    <div class="panel" id="tp">
      Philadelphia, PA
      <b> September 2003 &ndash; November 2003</b>
      <p>Managed IIS deployments on WebLogic v7x/8x servers. Additional responsibilities included updating SQL server databases, troubleshooting server problems and documenting code migration procedures.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Senior Developer</b></summary> -->
    <button class="accordion" (click)="toggle('emax')"><b>SciQuest Inc. (formerly EMAX Solutions)</b></button>
    <div class="panel" id="emax">
      Newtown Square, PA
      <b> December 1998 &ndash; May 2003</b>
      <p>Developed Java Servlets, JSP's and middle-tier components for a web-based substance management application. </p>
      <p>Initially responsible for the development of client-server modules utilizing PowerBuilder on the client and server-side Oracle packages and stored procedures. </p>
      <p>Created and maintained technical specifications for Data Search and Management APIs. </p>
      <p>Maintained SMS Researcher Desktop Java applet. </p>
      <p>Performed software inspections adhering to ITE guidelines. </p>
      <p>Developed unit tests and data generation tools using Jython. </p>
      <p>Performed an active role in retaining major pharmaceutical client by providing on-site technical support.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Senior Applications Developer</b></summary> -->
    <button class="accordion" (click)="toggle('cp')"><b>Covance, Inc. (formerly Corning Pact)</b></button>
    <div class="panel" id="cp">
      Radnor, PA
      <b>November 1995 &ndash; November 1998</b>
      <p>Designed and developed Investigator, Patient and Adverse Events Data Tracking and Incentives systems introducing PowerBuilder as the client-side development platform connecting to server-side Oracle PL/SQL packages and stored procedures in an Agile-based environment. </p>
      <p>Performed data modeling and process analysis using Erwin and Power-Designer. </p>
      <p>Developed remote data transfer interface to major pharmaceutical client consisting of Unix shell scripts, FTP calls, SQL Loader scripts and PL/SQL functions. </p>
      <p>Designed internal Systems Development Life Cycle Standards document used for FDA and client audits as well as marketing.</p>
    </div>
  </div>
  <div class="w3-container">
      <!-- <summary><b>Client Services Representative</b></summary> -->
    <button class="accordion" (click)="toggle('st')"><b>Sales Technologies, Inc. - A Dun and Bradstreet Company</b></button>
    <div class="panel" id="st">
      Wayne, PA
      <b>April 1992 &ndash; July 1995</b>
      <p>Responsible for the Installation, configuration and technical support of SNAP-CPG; a remotely distributed, Windows-based, C++ application backed by a Watcom engine on the client serviced by an Oracle database communicating over Chameleon. Designed and developed a client configuration system in Microsoft Access to manage and easily implement a variety of configuration specifications.</p>
      <p>Initially hired to provide 2nd level support and troubleshooting of Sales Force Automation software consisting of pen-based client and Ingres server components. </p>
      <p>Performed server-based code reviews and client-specific diagnostic testing. </p>
      <p>Worked extensively with client to support and implement both on-site and remote software upgrades, design technical specification documents, use-case, component and system-wide test plans. </p>
      <p>Developed error-handling procedures for help desk personnel.</p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Systems Analyst / LAN Administrator <i class="fa fa-chevron-up w3-margin-right"></i></b></summary> -->
    <button class="accordion" (click)="toggle('utc')"><b>United Technologies Corporation - Hamilton Standard Electronics (Tele-Dynamics Division)</b></button>
    <div class="panel" id="utc">
      Fort Washington, PA
      <b>April 1988 &ndash; April 1992</b>
      <p>Installed, configured and administered internal Token Ring LAN running Netware v2.15 & v3.11. </p>
      <p>Designed and developed a parts tracking system for QA department in Paradox, a data transfer and reporting system in FOCUS utilizing SyncSort and TSO; a call tracking system in Apple Basic; a ETC system for Accounting in Dynaplan and an inventory tracking system in Powerbase. </p>
      <p>Additional responsibilities included hardware and software procurement, in house technical support and training and development of user manuals for 3rd party software products. Initially hired as a programming aid to provide in-house technical support. </p>
    </div>
  </div>
  <div class="w3-container">
    <!-- <summary><b>Production Coordinator</b></summary> -->
    <button class="accordion" (click)="toggle('icc')"><b>International Computaprint Corporation</b></button>
    <div class="panel" id="icc">
      Fort Washington, PA
      <b>May 1986 &ndash; March 1988</b>
      <p>Managed production schedule, coordinating work flow of thousands of manuscript nightly between Data Entry, Computer Operations and Editing departments. </p>
      <p>Diagnosed and resolved OS/JCL problems for Phinet, a proprietary on-line document retrieval system. </p>
      <p>Developed a job scheduling and tracking system in Multiplan.</p>
    </div>
  </div>
</div>