<div class="w3-white w3-text-grey w3-card-3">
  <div class="w3-container">
    <p><img alt="face-pic" src="assets/babyface.jpg"></p>
    <p> {{ title }} </p>
    <p><i class="fa fa-laptop fa-fw w3-margin-right w3-medium w3-text-teal"></i>Systems Analyst / Developer</p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-medium w3-text-teal"></i>Collegeville, PA</p>
    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-medium w3-text-teal"></i>petekeavney@gmail.com</p>
    <p><i class="fa fa-phone fa-fw w3-margin-right w3-medium w3-text-teal"></i>6108043671</p>
    <hr>
  </div>
</div>
