<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div w3-container>
        <app-contact-info></app-contact-info>
    </div>
    <div w3-container>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="tech" (click)="techview='tech'"> Technologies <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="lang" (click)="techview='lang'">&nbsp;&nbsp;Languages <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input #db type="checkbox" (click)="techview='db'">&nbsp;&nbsp;Databases <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input #emp type="checkbox" (click)="techview='emp'">&nbsp;&nbsp;Employers <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<input #ind type="checkbox" (click)="techview='ind'">&nbsp;&nbsp;Industries <br />
    </div>
</nav>
<div class="w3-main" style="margin-left:300px">
    <ng-container *ngIf="ind.checked"><app-industries></app-industries></ng-container>
    <ng-container *ngIf="emp.checked"><app-chronology [dbState]="db.checked" [techview]="techview"></app-chronology></ng-container>
    <ng-container *ngIf="db.checked"><app-databases></app-databases></ng-container>
    <!--      <div [ngSwitch]="techview">
        <app-technologies *ngSwitchCase="'tech'"></app-technologies>
        <app-languages *ngSwitchCase="'lang'"></app-languages>
        <app-databases *ngSwitchCase="'db'"></app-databases>
        <app-industries *ngSwitchCase="'ind'"></app-industries>
        <app-chronology *ngSwitchDefault></app-chronology>
    </div> -->
</div>
